#banner {
    height: 650px;
    background-image: url(https://raw.githubusercontent.com/Ladytoxic/PortfolioAlmendraRaed/main/frontend_AlmendraRaed/src/assets/banner2.png?token=GHSAT0AAAAAABU3ET5KZBCETHN253C3U4DCYV5CNOA);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
    justify-content: space-between;
    background-color: #ed9932;
    text-align: center;
    opacity: 95%;
}

#name {
    display: block;
    align-items: center;
}