#banner {
    height: 650px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/ladytoxic4-4dbac.appspot.com/o/Img%2Fportfolio%2Fbanner2.png?alt=media&token=0efa9643-6435-4ad1-936b-b85b650190e4);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10%;
    justify-content: space-between;
    background-color: #ed9932;
    text-align: center;
    opacity: 95%;
}

#name {
    display: block;
    align-items: center;
}