<footer class="bg-dark bg-gradient text-center text-white">
    <div class="container p-4 pb-0">
        <a class="btn btn-outline-light btn-floating m-1" href="{{social.github}}" role="button"><i
                class="bi bi-github"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="{{social.linkedin}}" role="button"><i
                class="bi bi-linkedin"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="{{social.telegram}}" role="button"><i
                class="bi bi-telegram"></i></a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Almendra Romina Raed | © Argentina Programa 2022
    </div>
</footer>